# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# IDE
.vscode/
*.code-workspace

# Logs
*.log

# Dependency directories
node_modules/
bower_components/

# dataset files 
data/datasets/**
data/**
!data/images/